<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="../static/assets/MDB/css/style.css" rel="stylesheet">
    <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }</style>
    <script src="../static/assets/MDB/js/clipboard.min.js"></script>
    <!--    my css-->
    <link href="../static/assets/css/theme.css" rel="stylesheet">

    <link href="/static/favicon.ico" rel="icon" type="image/x-icon">
    <title>matchbox</title>
</head>


<body>


<!--Navbar -->
<!--/*@thymesVar id="user" type="tk.tnicy.matchbox.domain.User"*/-->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color lighten-1" th:fragment="navBar(activeUrl,user)">
    <a class="navbar-brand" href="/">
        <img alt="mdb logo" class="d-inline-block align-top"
             src="../static/assets/img/logo.svg"> MatchBox
    </a>
    <button aria-controls="mobielDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#mobielDropdown" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobielDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"
                th:class="${activeUrl=='index'?'nav-item active':'nav-item'}">
                <a class="nav-link" href="/">首页
                </a>
            </li>
            <li class="nav-item"
                th:class="${activeUrl=='explore'?'nav-item active':'nav-item'}">
                <a class="nav-link" href="/explore">探索广场
                </a>
            </li>
            <li class="nav-item"
                th:class="${activeUrl=='friends'?'nav-item active':'nav-item'}">
                <a class="nav-link" href="/follows">关注
                </a>
            </li>
            <li class="nav-item"
                th:class="${activeUrl=='friends'?'nav-item active':'nav-item'}">
                <a class="nav-link" href="/newFriends">新朋友
                </a>
            </li>
            <!--            <li class="nav-item dropdown"-->
            <!--                th:class="${activeUrl=='c'?'nav-item dropdown active':'nav-item dropdown'}">-->
            <!--                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"-->
            <!--                   data-toggle="dropdown" id="dropdownAA">Dropdown-->
            <!--                </a>-->
            <!--                <div aria-labelledby="dropdownAA" class="dropdown-menu dropdown-secondary">-->
            <!--                    <a class="dropdown-item" href="#">Action</a>-->
            <!--                    <a class="dropdown-item" href="#">Another action</a>-->
            <!--                    <a class="dropdown-item" href="#">Something else here</a>-->
            <!--                </div>-->
            <!--            </li>-->
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link waves-effect waves-light">-->
            <!--                    <span class="align-middle" >2</span>-->
            <!--                    <i class="fas fa-envelope"></i>-->
            <!--                </a>-->
            <!--            </li>-->
            <li class="nav-item avatar dropdown"
                th:class="${activeUrl=='userInfo'?'nav-item avatar dropdown active':'nav-item avatar dropdown'}">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" id="userInfo">
                    <span class="align-middle" th:text="${user.getUsername()}"></span>
                    <img alt="avatar image" class="rounded-circle z-depth-0"
                         th:src="${user.getFeature().getAvatarUUID()!=null?'http://prv0aejgs.bkt.clouddn.com/'+user.getFeature().getAvatarUUID() : '../static/assets/img/avatar.png'}">

                </a>
                <div aria-labelledby="userInfo"
                     class="dropdown-menu  dropdown-secondary">
                    <a class="dropdown-item" href="/login" th:if="${user.getUsername()}=='未登录'">登录</a>
                    <a class="dropdown-item" href="/logup" th:if="${user.getUsername()}=='未登录'">注册</a>

                    <a class="dropdown-item" href="/userInfo" th:if="${user.getUsername()}!='未登录'">我</a>
                    <a class="dropdown-item" href="/logout" th:if="${user.getUsername()}!='未登录'">退出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->


<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" th:fragment="footBar">

    <!-- Footer Elements -->
    <div class="container" id="bottom-div">

        <!-- Social buttons -->
        <!--            <ul class="list-unstyled list-inline text-center">-->
        <!--                <li class="list-inline-item">-->
        <!--                    <a class="btn-floating btn-fb mx-1">-->
        <!--                        <i class="fab fa-facebook-f"> </i>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li class="list-inline-item">-->
        <!--                    <a class="btn-floating btn-tw mx-1">-->
        <!--                        <i class="fab fa-twitter"> </i>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li class="list-inline-item">-->
        <!--                    <a class="btn-floating btn-gplus mx-1">-->
        <!--                        <i class="fab fa-google-plus-g"> </i>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li class="list-inline-item">-->
        <!--                    <a class="btn-floating btn-li mx-1">-->
        <!--                        <i class="fab fa-linkedin-in"> </i>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--                <li class="list-inline-item">-->
        <!--                    <a class="btn-floating btn-dribbble mx-1">-->
        <!--                        <i class="fab fa-dribbble"> </i>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--            </ul>-->

        <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a onclick="f()"> MatchBox.com</a>
        <script>

            let strings = [];
            strings[0] = "<h4>♥ 感谢产品经理仙儿!</h4>muuuuuuuuua👄";
            strings[1] = "<h4>99夫妇🔒了  🔑吞了</h4>";
            strings[2] = "<h4>张杰易烊千玺孟美岐李汶翰</h4>";
            strings[3] = "<h4>全世界最好的201🔒</h4>";

            function f() {

                let i = randomNum(0, strings.length);

                console.log(i);
                if (i === 0) {
                    const time1 = new Date();
                    const time2 = new Date("2017/9/9 0:00:00");
                    const days = Math.floor((time1.getTime() - time2.getTime()) / 86400000);
                    const hours = Math.floor(((time1.getTime() - time2.getTime()) % 86400000) / 3600000);
                    const minutes = Math.floor(((time1.getTime() - time2.getTime()) % 3600000) / 60000);
                    const seconds = Math.floor(((time1.getTime() - time2.getTime()) % 60000) / 1000);
                    const miliseconds = (time1.getTime() - time2.getTime()) % 1000;

                    $("#bottom-div").append("<div class=\"alert alert-block  fade show\" id=\"warning-block\" >\n" +
                        "            <button class=\"close text-white\" data-dismiss=\"alert\" type=\"button\">&times;</button>\n" +
                        "            " + "♥这是我们在一起的第" + days + "天" + hours + "小时" + minutes + "分钟" + seconds + "秒" + miliseconds + "毫秒" + "\n" +
                        "        </div>");
                    return;
                }


                $("#bottom-div").append("<div class=\"alert alert-block  fade show\" id=\"warning-block\" >\n" +
                    "            <button class=\"close text-white\" data-dismiss=\"alert\" type=\"button\">&times;</button>\n" +
                    "            " + strings[i - 1] + "\n" +
                    "        </div>");
            }
        </script>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


<div th:fragment="js">
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script color="255,255,255" count="99" opacity='0.6' src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"
            type="text/javascript" zIndex="-1"></script>

    <script src="../static/assets/MDB/js/compiled.js"></script>

    <script src="../static/assets/js/util.js"></script>
    <script>
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });
    </script>
</div>


<!--/*@thymesVar id="postContent" type="tk.tnicy.matchbox.domain.Post"*/-->
<div th:fragment="post(postContent)" th:id="'post-'+${postContent.getId().toString()}">

    <!-- Card -->
    <div class="card testimonial-card " th:with="feature = ${postContent.getAuthor()}">

        <!-- Background color -->
        <div class="card-up aqua-gradient" style="height: 30px"></div>

        <!-- Avatar -->
        <div class="row" style="height: 40px; margin-top: -20px; border: 0;">
            <div class="col-3 text-right">
                <img class="rounded-circle img-responsive"
                     style="height: 40px; width: 40px;"
                     th:src="${feature.getAvatarUUID()!=null?'http://prv0aejgs.bkt.clouddn.com/'+feature.getAvatarUUID() : '../static/assets/img/avatar.png'}">

            </div>
            <div class="col-9" style="margin-top: -5px;">
                <h5 class=" text-white " style="max-height: 20px;" th:text="${feature.getUser().getUsername()}">Martha
                    Smith</h5>
                <h6 class="text-black-50 overflow-auto" style="max-height: 20px;" th:text="${feature.getSignature()}">
                    sig</h6>
            </div>
        </div>

        <!-- Content -->
        <div class="card-body " style="padding-top: 0.5rem; padding-bottom: 0.5px;">
            <!-- Name -->
            <hr style="margin: 5px">
            <!-- Quotation -->
            <p class="text-dark" th:text="${postContent.getContent()}"> Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Eos,
                adipisci</p>
            <hr style="margin: 5px">
            <p class="text-right" style="padding-top: .25em; font-size: 0.75rem;opacity: .75;"
               th:text="${postContent.getTime()}">time</p>
        </div>

    </div>
    <!-- Card -->

</div>


<nav th:fragment="pagination(url,page)">
    <!--/*@thymesVar id="url" type="java.lang.String"*/-->
    <!--/*@thymesVar id="page" type="java.lang.Integer"*/-->

    <div class="light-blue lighten-5 pagination pg-blue justify-content-center">
        <div class="page-item" th:class="${page} == 0 ? 'page-item disabled' : 'page-item'">
            <a aria-label="Previous" class="page-link" th:href="'/'+${url}+'/'+${page - 1} ">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </div>
        <div class="page-item active">
            <a class="page-link" th:text="${page}">1</a></div>
        <div class="page-item">
            <a aria-label="Next" class="page-link" th:href="'/'+${url}+'/'+${page + 1}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </div>
    </div>
</nav>


<div class="card" style="margin: 10px 0;padding: 0 20px;" th:fragment="creatPostBox">

    <form action="/publishPost" class="row " method="post">

        <div class=" col-12 md-form " style="margin-bottom: 0">
            <textarea class="md-textarea form-control" id="createPostTextarea" name="content" rows="3"></textarea>
            <label for="createPostTextarea">内容</label>
        </div>
        <div class="col-12" style="margin: -20px 0">
            <div class="row">
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <button class="text-right btn peach-gradient" type="submit">发布</button>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <select class=" mdb-select md-form" name="type">
                        <option disabled selected value="">可见范围</option>
                        <option value="-1">自己可见</option>
                        <option value="0">粉丝可见</option>
                        <option value="1">所有可见</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

</div>


<!-- userCard -->
<!--/*@thymesVar id="feature" type="tk.tnicy.matchbox.domain.Feature"*/-->
<div class="card testimonial-card" th:fragment="userCard(user)">

    <!-- Background color -->
    <div class="card-up aqua-gradient"></div>

    <!-- Avatar -->
    <div class="avatar mx-auto white">
        <img alt="avatar" class="rounded-circle" id="avatar"
             th:src="${user.getFeature().getAvatarUUID()!=null?'http://prv0aejgs.bkt.clouddn.com/'+user.getFeature().getAvatarUUID() : '../static/assets/img/avatar.png'}">
    </div>

    <!-- Content -->
    <div class="card-body">
        <!-- Name -->
        <h4 class="card-title"><strong th:text="${user.getUsername()}">用户名</strong></h4>
        <!-- Subtitle -->
        <div id="gender-div">
            <h6 class="font-weight-bold indigo-text py-2" id="gender"
                th:text="${user.getFeature().getGender()}==true?'小哥哥':'小姐姐'">性别
            </h6>
        </div>
        <hr>
        <!-- Quotation -->
        <p id="personalDescription">
            <img src="../static/assets/img/quote-left.svg" width="20">

            <span id="signature" style="white-space:pre"
                  th:text="${user.getFeature().getSignature()!=null?user.getFeature().getSignature():'还没有写个性签名呢！'}"></span>

            <img src="../static/assets/img/quote-right.svg" width="20">
        </p>
        <hr>

        <div id="tags">

            <button class="btn btn-rounded btn-sm aqua-gradient" th:each="tag : ${user.getFeature().getTags()}"
                    th:text="${tag.getLabel()}">Aqua
            </button>

        </div>

    </div>


</div>


</body>
</html>