<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="components::head"></head>
<body>
<!--/*@thymesVar id="error" type="java.lang.String"*/-->


<div class="back">

    <div class=" form-signin card text-center">
        <div>
            <p class="text-center" th:text="${error}"></p>

        </div>
        <div>
            <a class="btn aqua-gradient btn-rounded btn-block" href="/" type="button">
                回到主页
            </a>
        </div>
    </div>


</div>
<footer th:replace="components::footBar"></footer>

<div th:replace="components::js"></div>

</body>
</html>