<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="components::head"></head>
<body>
<header th:replace="components::navBar(follows,${user})"></header>
<div class="container" id="main">

    <div class="card-columns" id="follows">
        <!--/*@thymesVar id="features" type="java.util.ArrayList<tk.tnicy.matchbox.domain.Feature>"*/-->
        <div th:each="feature:${features}">
            <div th:replace="components::userCard(${feature}, true)"></div>
        </div>
    </div>

</div>
<footer th:replace="components::footBar"></footer>


<div th:replace="components::js"></div>
</body>
</html>