<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>火柴盒</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="../static/bootstrap-4.2.1/css/bootstrap.css" rel="stylesheet"
          th:href="@{/bootstrap-4.2.1/css/bootstrap.css}"/>
    <link href="../static/bootstrap-4.2.1/css/doc.min.css" rel="stylesheet"
          th:href="@{/bootstrap-4.2.1/css/doc.min.css}"/>
    <script src="../static/bootstrap-4.2.1/js/bootstrap.min.js"
            th:src="@{/bootstrap-4.2.1/js/bootstrap.min.js}"></script>

    <style>
        body {
            background-color: #404040;
        }
    </style>
</head>
<body>
<a href="/login">登录</a>
</body>
</html>