<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="components::head"></head>

<body>
<!--/*@thymesVar id="user" type="tk.tnicy.matchbox.domain.User"*/-->
<header th:replace="components::navBar(index,${user})"></header>
<div class="container">
    <div th:replace="components::creatPostBox"></div>
    <div class="card-columns" id="posts">
        <!--/*@thymesVar id="posts" type="java.util.ArrayList<tk.tnicy.matchbox.domain.Post>"*/-->
        <div th:each="postContent : ${posts}">
            <div th:replace="components::post(${postContent})"></div>
        </div>
    </div>


    <div th:replace="components::pagination(index,${page})"></div>

    <div th:if="${logined}">
        <div th:replace="components::messagesModelButton"></div>
        <div th:replace="components::messagesModelView(${letters})"></div>
    </div>


</div>
<footer th:replace="components::footBar"></footer>


<div th:replace="components::js"></div>

</body>
</html>