<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components::head"></head>

<body>

<header th:replace="components::navBar(index,${user})"></header>
<div class="back">

    <!--表单-->
    <form action="/login" class="form-signin card text-center" id="form" method="post" role="form">
        <h1 class="h3 mb-3 font-weight-normal">
            登录
        </h1>


        <!--错误提示-->
        <div class="alert alert-success alert-dismissable" th:unless="${#strings.isEmpty(msg)}">
            <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
            <h4 th:text="${msg}">
                Error!
            </h4>
        </div>


        <div class="form-group">
            <label for="username">用户名</label>
            <input class="form-control" id="username" name="username" type="text"/>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input class="form-control" id="password" name="password" type="password"/>
        </div>


        <div aria-label="Basic" class="btn-group" role="group">
            <button class="btn aqua-gradient btn-rounded btn-lg submit">登录</button>
            <a class="btn  aqua-gradient btn-rounded btn-lg" href="/logup" type="button">注册</a>
        </div>


    </form>

</div>
<footer th:replace="components::footBar"></footer>


<div th:replace="components::js"></div>

</body>
</html>