<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="components::head"></head>
<body>
<!--/*@thymesVar id="user" type="tk.tnicy.matchbox.domain.User"*/-->
<header th:replace="components::navBar(userInfo,${user})"></header>
<main>
    <div class="container text-center">


        <!-- Card -->
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up aqua-gradient"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img alt="avatar" class="rounded-circle" src="assets/img/avatar.png">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h4 class="card-title"><strong th:text="${user.getUsername()}">用户名</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2"
                    th:text="${user.getFeature().getGender()}==true?'小哥哥':'小姐姐'">性别</h6>
                <hr>
                <!-- Quotation -->
                <p>
                    <img src="assets/img/quote-left.svg" width="20">

                    <span th:text="${user.getFeature().getSignature()}"></span>

                    <img src="assets/img/quote-right.svg" width="20"></p>
                <hr>

                <div id="tags">

                    <div class="btn-group" role="group" th:each="tag : ${user.getFeature().getTags()}">
                        <button class="btn btn-rounded btn-sm aqua-gradient"
                                th:text="${tag.getLabel()}">Aqua
                        </button>
                        <button class="btn btn-rounded btn-sm blue-gradient"
                                th:onclick="deleteTag([[${tag.getId()}]],[[${tag.getLabel()}]])">
                            &times;
                        </button>
                    </div>


                    <button class="btn btn-rounded btn-sm aqua-gradient" id="addTag_btn" onclick="addTag()"><img
                            src="assets/img/plus.svg" width="20"></button>
                </div>

            </div>

        </div>
        <!-- Card -->


    </div>


</main>
<footer th:replace="components::footBar"></footer>

<div th:replace="components::js"></div>

<script>
    function addTag() {
        $("#addTag_btn").replaceWith(
            "<!-- Material outline input -->\n" +
            "<div class=\"md-form md-outline\">\n" +
            "  <input type=\"text\" id=\"new_Tag\" class=\"form-control\">\n" +
            "  <label for=\"form1\">New Tag</label>\n" +
            "</div>"
        );


    }

    $("#tags").on("blur", "#new_Tag", function () {
        if ($("#new_Tag").val() == '') {
            return;
        }
        let jsonObj = {"label": $("#new_Tag").val()};
        console.log(jsonObj);
        $.ajax({
            type: 'POST',
            url: "/addTag",
            dataType: "json",
            data: JSON.stringify(jsonObj),
            contentType: "application/json",
            success: function (data) {
                console.log(data)
            },
            error: function () {
                console.log("fucking error")
            },
            complete: function () {
                $("#tags").load("http://101.132.120.236:49521/userInfo #tags");
            }
        });

    });

    function deleteTag(id, label) {
        let jsonObj = {"id": id, "label": label};
        $.ajax({
            type: 'POST',
            url: "/deleteTag",
            dataType: "json",
            data: JSON.stringify(jsonObj),
            contentType: "application/json",
            success: function (data) {
                console.log(data)
            },
            error: function () {
                console.log("fucking error")
            },
            complete: function () {
                $("#tags").load("http://101.132.120.236:49521/userInfo #tags");
            }
        });
    }

</script>
</body>
</html>