<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="components::head"></head>
<body>
<!--/*@thymesVar id="user" type="tk.tnicy.matchbox.domain.User"*/-->
<header th:replace="components::navBar(userInfo,${user})"></header>
<main>
    <div class="container text-center">


        <!-- Card -->
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up aqua-gradient"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img alt="avatar" class="rounded-circle" src="assets/img/avatar.png">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h4 class="card-title"><strong th:text="${user.getUsername()}">用户名</strong></h4>
                <!-- Subtitle -->
                <div id="gender-div">
                    <h6 class="font-weight-bold indigo-text py-2" id="gender" onclick="changeGender()"
                        th:text="${user.getFeature().getGender()}==true?'小哥哥':'小姐姐'">性别
                    </h6>
                </div>
                <hr>
                <!-- Quotation -->
                <p id="personalDescription">
                    <img src="assets/img/quote-left.svg" width="20">

                    <span id="signature" onclick="changeSignature()" style="white-space:pre"
                          th:text="${user.getFeature().getSignature()!=null?user.getFeature().getSignature():'还没有写个性签名呢！'}"></span>

                    <img src="assets/img/quote-right.svg" width="20">
                </p>
                <hr>

                <div id="tags">

                    <div class="btn-group" role="group" th:each="tag : ${user.getFeature().getTags()}">
                        <button class="btn btn-rounded btn-sm aqua-gradient"
                                th:text="${tag.getLabel()}">Aqua
                        </button>
                        <button class="btn btn-rounded btn-sm blue-gradient"
                                th:onclick="deleteTag([[${tag.getId()}]],[[${tag.getLabel()}]])">
                            &times;
                        </button>
                    </div>


                    <button class="btn btn-rounded btn-sm aqua-gradient" id="addTag_btn" onclick="addTag()"><img
                            src="assets/img/plus.svg" width="20"></button>
                </div>

            </div>

        </div>
        <!-- Card -->


    </div>


</main>
<footer th:replace="components::footBar"></footer>

<div th:replace="components::js"></div>


<script src="assets/js/SimpleAjaxUploader.js"></script>
<script>


    function changeGender() {
        let o = $('#gender');
        let originalGender = o.text();
        let inputHtmlMale = "<div class=\"form-check form-check-inline\">\n" +
            "  <input type=\"radio\" class=\"form-check-input\" id=\"male\" name=\"gender\" checked value=true>\n" +
            "  <label class=\"form-check-label\" for=\"male\">小哥哥</label>\n" +
            "</div>\n" +
            "\n" +
            "<!-- Material inline 2 -->\n" +
            "<div class=\"form-check form-check-inline\">\n" +
            "  <input type=\"radio\" class=\"form-check-input\" id=\"female\" name=\"gender\" value=false>\n" +
            "  <label class=\"form-check-label\" for=\"female\">小姐姐</label>\n" +
            "</div>";

        let inputHtmlFemale = "<div class=\"form-check form-check-inline\">\n" +
            "  <input type=\"radio\" class=\"form-check-input\" id=\"male\" name=\"gender\" value=true>\n" +
            "  <label class=\"form-check-label\" for=\"male\">小哥哥</label>\n" +
            "</div>\n" +
            "\n" +
            "<!-- Material inline 2 -->\n" +
            "<div class=\"form-check form-check-inline\">\n" +
            "  <input type=\"radio\" class=\"form-check-input\" id=\"female\" name=\"gender\" checked value=false>\n" +
            "  <label class=\"form-check-label\" for=\"female\">小姐姐</label>\n" +
            "</div>";


        let inputHtml;
        if (originalGender === "小哥哥") {
            inputHtml = inputHtmlMale;
        } else {
            inputHtml = inputHtmlFemale;
        }
        o.replaceWith(inputHtml);
        $("#gender-div").append("<button type=\"button\" class=\"btn btn-rounded btn-sm peach-gradient\" onclick='uploadGender()'>确认修改</button>")
    }


    function uploadGender() {
        let jsonObj = {"gender": $("input[name='gender']:checked").val()};  //true是男 false是女
        $.ajax({
            type: 'POST',
            url: "/editGender",
            dataType: "json",
            data: JSON.stringify(jsonObj),
            contentType: "application/json",
            success: function (data) {
                console.log(data)
            },
            error: function () {
                console.log("fucking error")
            },
            complete: function () {
                $("#gender-div").load("http://101.132.120.236:49521/userInfo #gender-div");
            }
        });

    }


    function changeSignature() {
        let o = $('#signature');
        let originalSig = o.text();

        let inputHtml = "<div class=\"md-form md-outline\">\n" +
            "  <input type=\"text\" id=\"signature\" class=\"form-control\" value='" + originalSig + "'>\n" +
            "  <label for=\"form1\">Signature</label>\n" +
            "</div>";
        o.replaceWith(inputHtml);
    }

    $("#personalDescription").on("blur", "#signature", function () {
        if ($("#signature").val() === '') {
            return;
        }
        let jsonObj = {"signature": $("#signature").val()};
        console.log(jsonObj);
        $.ajax({
            type: 'POST',
            url: "/addSignature",
            dataType: "json",
            data: JSON.stringify(jsonObj),
            contentType: "application/json",
            success: function (data) {
                console.log(data)
            },
            error: function () {
                console.log("fucking error")
            },
            complete: function () {
                $("#personalDescription").load("http://101.132.120.236:49521/userInfo #personalDescription");
            }
        });

    });






    function addTag() {
        $("#addTag_btn").replaceWith(
            "<!-- Material outline input -->\n" +
            "<div class=\"md-form md-outline\">\n" +
            "  <input type=\"text\" id=\"new_Tag\" class=\"form-control\">\n" +
            "  <label for=\"form1\">New Tag</label>\n" +
            "</div>"
        );


    }

    $("#tags").on("blur", "#new_Tag", function () {
        if ($("#new_Tag").val() === '') {
            return;
        }
        let jsonObj = {"label": $("#new_Tag").val()};
        console.log(jsonObj);
        $.ajax({
            type: 'POST',
            url: "/addTag",
            dataType: "json",
            data: JSON.stringify(jsonObj),
            contentType: "application/json",
            success: function (data) {
                console.log(data)
            },
            error: function () {
                console.log("fucking error")
            },
            complete: function () {
                $("#tags").load("http://101.132.120.236:49521/userInfo #tags");
            }
        });

    });

    function deleteTag(id, label) {
        let jsonObj = {"id": id, "label": label};
        $.ajax({
            type: 'POST',
            url: "/deleteTag",
            dataType: "json",
            data: JSON.stringify(jsonObj),
            contentType: "application/json",
            success: function (data) {
                console.log(data)
            },
            error: function () {
                console.log("fucking error")
            },
            complete: function () {
                $("#tags").load("http://101.132.120.236:49521/userInfo #tags");
            }
        });
    }


</script>
</body>
</html>